{{!-- <li class="border"> --}}
<tr class="border">
	<td>{{burger_name}}
		{{#unless devoured}}
		<button class="devour-burger" data-id="{{id}}" data-name="{{burger_name}}">Eat It Up!</button>
		{{/unless}}
	</td>
</tr>
{{!-- </li> --}}
